<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Employee Management</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
<form th:method="POST" th:action="@{/deletePosition}" th:object="${user}">
    <div class="grid">
        <div>
            <h2>Выберите должность для удаления:</h2>
            <div th:each="chosen : *{chosenOnesPositions}">
                <input th:field="*{chosenOnesPositions}" type="checkbox"
                       th:value="${chosen.id}"/>
                <span th:text="${chosen.name}">POSITION</span>
            </div>
            <span class="error"
                  th:if="${#fields.hasErrors('chosenOnesPositions')}"
                  th:errors="*{chosenOnesPositions}">ChosenOnes Error</span>
        </div>
    </div>
    <button>ОК</button>
</form>
<form th:action="@{/positionManagementHome}">
    <button>Назад</button>
</form>
</body>
</html>