<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Employee Management</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
<h3>Изменения коснутся:</h3>
<form th:method="POST" th:action="@{/editPosition}" th:object="${user}">
    <li th:each="chosen : *{chosenOnesPositions}">
        <span th:text="${chosen.name}">Chosen</span>
    </li>
    <br/>
    <h3>новое название:</h3>
    <input type="text" th:field="*{nameToEdit}"/>
    <button>ОК</button>
</form>
</form>
</body>
</html>