<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Employee Management</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
<form th:object="${user}">
    <h2>Добро пожаловать,
        <span th:text="*{username}"></span>
        !</h2>
</form>
<form method="GET" th:action="@{/positionManagementHome}">
    <button>Управление должностями</button>
</form>
<br/>
<form method="GET" th:action="@{/employeeManagementHome}">
    <button>Управление сотрудниками</button>
</form>
<form th:action="@{/home}">
    <button>Выйти</button>
</form>
</body>
</html>


