<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Employee Management</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
</form>
<h2>Управление должностями</h2>
<form method="GET" th:action="@{/viewAllPositions}">
    <button>Посмотреть все должности</button>
</form>
<br/>
<form method="GET" th:action="@{/addPosition}">
    <button>Добавить должность</button>
</form>
<br/>
<form method="GET" th:action="@{/editPositionHome}">
    <button>Изменить должность</button>
</form>
<br/>
<form method="GET" th:action="@{/deletePositionHome}">
    <button>Удалить должность</button>
</form>
<form method="GET" th:action="@{/entranceFromPos}">
    <button>Назад</button>
</form>
</body>
</html>