<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Employee Management</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
<h2>Все ваши должности:</h2>
<form th:object="${user}">
    <li th:each="position : *{positionsWithoutDeletedOne}">
        <span th:text="${position.name}">POSITION</span><br/>
        <br/>
</form>
</h2>
<form th:action="@{/positionManagementHome}">
    <button>Назад</button>
</form>
</body>
</html>